### main
python-chess==1.*
chess==1.*
#sklearn==0.*  this installs newer scikit-learn...
faster-fifo @ git+https://github.com/alex-petrenko/faster-fifo@master
anytree==2.*
kmeans1d==0.*
nptyping==2.*
astar==0.99

### optional
# redis==4.*  # an option for memory and queuing
# larch-pickle github repo  # an option for faster pickling
# https://github.com/kochelmonster/larch-pickle
# version 1.4.2 installed via command
# python setup.py build_ext -I /usr/include/boost install

### gui
