##### main
python-chess==1.999
chess==1.6.1
#sklearn==0.*  this installs newer scikit-learn...
faster-fifo==1.4.*
anytree==2.*
#scikit-learn==0.*
kmeans1d==0.3.*

### optional
redis==4.*

# larch-pickle github repo
# https://github.com/kochelmonster/larch-pickle
# version 1.4.2 installed via command
# python setup.py build_ext -I /usr/include/boost install

##### dev
#mypy==0.920
mypy==0.961  # for newer versions compiled board fails on pickling, WARNING 3.11 requires mypy>=0.981 to compile Board
mypy-extensions==0.4.*
pylint==2.15.4
perflint==0.7.3
parameterized==0.8.*

### training
# gym and pytorch included in the below lib
stable-baselines3==1.6.2

### gui


### profiling
pyinstrument==4.*